body{
    margin: 0;
    padding: 1%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdjTVSUyPAlWWwwK5ZT1lsZMyhQXsiedIcNg&usqp=CAU);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1{
    align-content: center;
    text-align: center;
    margin: 30px;
    color: white;
    
}

.flex-containner{
    display: flex;
    margin: 18px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 18px;
    justify-content: center;
    background-color: antiquewhite;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    
    
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    
}

h3{
  margin: auto;  
  text-align: center;
}